.header {
  width: 100%; /* Establecemos que el header abarque el 100% del documento */
  overflow: hidden; /* Eliminamos errores de float */
  background: #252932;
  margin-bottom: 20px;

.header__logo {
  color: #f2f2f2;
  font-size: 35px;
  line-height: 140px;
  float: left;
  padding-left: 5%;
}

.header__navbar {
  float: right;
  line-height: 200px;
  padding-right: 5%;
}

.header__navlink {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.header__navlink:hover {
  background: #f56f3a;
  border-radius: 50px;
}
}
