.secHeader {
    width: 100%; /* Establecemos que el header abarque el 100% del documento */
    overflow: hidden; /* Eliminamos errores de float */
    background: #8ba0a5;
    margin-bottom: 20px;
  
  .secHeader__logo {
    color: #000000;
    font-size: 25px;
    line-height: 60px;
    float: left;
    padding-left: 5%;
  }
  
  .secHeader__navbar {
    float: right;
    line-height: 50px;
    padding-right: 5%;
    padding-top: 4px;
  }
  
  .secHeader__navlink {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 10px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .secHeader__navlink:hover {
    background: #f56f3a;
    border-radius: 50px;
  }
  }